<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="/static/js/summernote-bs4.min.js"></script>
<script src="/static/js/summernote-ko-KR.min.js"></script>

<br>
<h1>글 작성</h1>
<hr>
<div class="alert alert-danger fade" role="alert"> </div>
<form action="/admin-post" method="post">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" value='{{ data.Title }}'>
    </div>
    <div class="form-group">
        <table width="100%">
            <td width="90%">
                <label for="name">작성자</label>
                <input type="text" class="form-control" id="name" name="name" value='{{ data.Name }}'>
            </td>
            <td>
                <label for="pw">비밀번호</label>
                <input type="password" class="form-control" id="pw" name="pw">
            </td>
        </table>
    </div>
    <div class="form-group">
        <label for="comment">내용</label>
        <textarea id="summernote" name="comment">
            {{ data.Contents | safe }}
        </textarea>
    </div>
    <input type="text" name="type" value="{{ _type }}" style="display: none;">
    <input type="text" name="id" value="{{ _id }}" style="display: none;">
    <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary" id='save'>임시저장</button>&nbsp;
        <button type="submit" class="btn btn-primary" id='submit'>작성</button>&nbsp;
        <button type="button" class="btn btn-outline-danger" id='cancle'>취소</button>
    </div>
</form>
<br><br>

<script>
    $("document").ready(function () {
        $('.alert').hide();      
    });
    function sendFile(file) {
        data = new FormData();
        data.append("file", file);
        $.ajax({
            url: "/upload_file",
            data: data,
            cache: false,
            type: "POST",
            contentType: false,
            processData: false,
            success: function(url) {
                $('#summernote').summernote('insertImage', url);
            }
        });
    }

    $("#summernote").ready(function() {
        $('#summernote').summernote({
            placeholder: '',
            minHeight: 470,
            lang: 'ko-KR',
            callbacks: {
                onImageUpload: function(files) {
                    sendFile(files[0]);
                }
            }
        });

        if( window.localStorage && {{ fix }} == 0 && window.localStorage.getItem('contents') != "" ) {
            if (confirm('임시 저장된 글이 있습니다. 불러오시겠습니까?')) {
                $('#summernote').summernote ('code', window.localStorage.getItem('contents'));
            }
        }
    });

    function autoSave() {
        if( window.localStorage ) {
            window.localStorage.setItem('contents', $('#summernote').summernote('code'));
        } else {
            console.log('LocalStrorage Not Supoort')
        }
    }
    $("#save").click(function() { autoSave(); });
    setInterval(function() { autoSave(); }, 60000);

    $("#cancle").click(function () {
        if (confirm('정말 취소하겠습니까?')) {
            changeView(4);
            window.localStorage.setItem('contents', "");
        }
    });

    function show_alert(str, obj) {
        $('.alert').show();
        $(".alert").text(str);
        $('.alert').addClass('show');
        $(obj).focus();
        setTimeout(function () {
            $('.alert').removeClass('show');
            $('.alert').hide();
        }, 2000);
    }
    $("#submit").click(function () {
        if ($("#title").val() == '') {
            show_alert("제목을 입력해주세요", $("#title"));
            return false;
        } else {
            var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/;
            if( pattern_spc.test($("#title").val()) ) {
                show_alert("특수문자는 넣을 수 없습니다.", $("#title"));
                return false;
            }
        }
        if ($("#summernote").val() == '') {
            show_alert("내용을 입력해주세요", $("#summernote"));
            return false;
        }
        if ($("#name").val() == '') {
            show_alert("이름을 입력해주세요", $("#name"));
            return false;
        } else {
            var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/;
            if( pattern_spc.test($("#name").val()) ) {
                show_alert("특수문자는 넣을 수 없습니다.", $("#name"));
                return false;
            }
        }
        if ($("#pw").val() == '') {
            show_alert("패스워드를 입력해주세요", $("#pw"));
            return false;
        } else {
            var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/;
            if( pattern_spc.test($("#pw").val()) ) {
                show_alert("특수문자는 넣을 수 없습니다.", $("#pw"));
                return false;
            }
        }
    })
</script>