<!-- 후원 페이지 -->

<div class='container-fluid' style="text-align: center; display: table; height: 85vh;">
<div class='container-fluid' style="display:table-cell; vertical-align: middle;">
    <h1>제작자에게 후원하기</h1><br><br>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> 은행 </th>
                    <th> 계좌번호 </th>
                    <th> 입금자명 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 기업은행 </td>
                    <td> 97300839001014 </td>
                    <td> 김회민 </td>
                </tr>
            </tbody>
        </table>
    </div>
    여러분의 후원은 <b>서버 유지 및 컨텐츠 제작</b>에 큰 힘이 됩니다.
</div>
</div>
<br><br>