<!-- 게시판 -->

<br>
<h1>게시판</h1>
<table class="table table-striped table-hover" id='Forum_table' style="text-align: center;">
    <thead>
        <tr> 
            <th width="7%"> 번호 </th>
            <th> 제목 </th>
            <th width="15%"> 작성자 </th>
            <th width="10%"> 날짜 </th>
            <th width="10%"> 조회수 </th>
        </tr>
    </thead> 
    <tbody>
    </tbody>
</table>

<hr/>
<div class="d-flex justify-content-end"> <a class="btn btn-primary" href="{{ url_for('index2', value=9) }}"> 글쓰기 </a> </div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled"> <a class="page-link"> Previous </a> </li>
        <li class="page-item active" value=1>   <a class="page-link"> 1 </a> </li>
        <li class="page-item" value=2> <a class="page-link"> 2 </a> </li>
        <li class="page-item" value=3> <a class="page-link"> 3 </a> </li>
        <li class="page-item" value=4> <a class="page-link"> 4 </a> </li>
        <li class="page-item" value=5> <a class="page-link"> 5 </a> </li>
        <li class="page-item disabled"> <a class="page-link"> Next </a> </li>
    </ul>
</nav>
<br><br>

<script>
    function changePage(page) {
        if( page >= 1 ) {
            for(var i = 1; i <= 6; i++) {
                $("#contents > nav > ul > li:nth-child("+i+")").removeClass("active")
            } $("#contents > nav > ul > li:nth-child("+(page+1)+")").addClass("active")
            $("#Forum_table tbody").load("/page?type=Forum&page="+page);
        }
    }
    $(document).ready(function () {
        var tmp_page = {{ page }};
        if( tmp_page != null ) { changePage( tmp_page ); }
        $(".pagination li").click(function () {
            history.pushState($(this).val(), null, "/index2?value=4&page="+$(this).val());
            changePage($(this).val());
        });
    });
</script>