<div>
    <h2>EULA</h2>
    <hr>
    <b>MINECRAFT 최종 사용자 사용권 계약</b><br>
    Minecraft(당사의 "게임") 및 커뮤니티 회원을 보호하기 위해 본 최종 사용자 사용권 계약에 당사의 게임 다운로드 및 사용에 대해 몇 가지 규칙을 설정해야 합니다. 본 사용권은 귀하와
    당사(Mojang AB) 간에 체결되는 법적 계약이며 게임 사용에 대한 계약 내용이 명시되어 있습니다. 귀하와 마찬가지로 당사도 사용권 문서를 읽는 것을 좋아하지 않으므로 해당 문서를 가능한 짧게
    유지하려고 합니다. 귀하가 본 규칙을 위반하는 경우 당사는 귀하의 게임 사용을 중지할 수 있습니다. 필요하다고 판단하는 경우 도움을 위해 변호사에 요청할 수도 있습니다.<br><br>

    당사의 게임을 구입, 다운로드, 사용 또는 플레이하는 경우 귀하는 본 최종 사용자 사용권 계약("EULA") 조건의 규칙을 준수할 것에 동의합니다. 이러한 규칙에 동의하지 않거나 동의할 수 없는 경우
    당사의 게임을 구입, 다운로드, 사용 또는 플레이해서는 안 됩니다. 본 EULA에는 mojang.com 웹 사이트의 사용 조건("계정 조건"), 당사의 브랜드 및 자산 사용 지침 및 개인정보취급방침이
    포함됩니다. 본 EULA에 동의함으로써 귀하는 앞서 언급된 문서의 모든 조건에도 동의하게 되므로 해당 내용을 자세히 읽으시기 바랍니다.<br><br>

    <b>한 가지 중요한 규칙</b><br>
    한 가지 중요한 규칙은 당사가 특별히 동의하지 않는 한 당사가 만든 사항을 배포해서는 안 된다는 것입니다. "당사가 만든 사항 배포"의 의미는 다음과 같습니다.<br><br>

    당사의 게임 복사본을 다른 사용자에게 제공<br>
    당사가 만든 사항을 상업용으로 사용<br>
    당사가 만든 사항으로부터 돈을 벌려고 시도<br>
    다른 사용자가 불공정 또는 불합리한 방식으로 당사가 만든 것에 액세스할 수 있도록 하는 것<br>
    단, 특별히 당사가 이에 대해 동의하는 경우는 예외입니다. 또한 아주 분명하게 "게임" 또는 "당사가 만든 사항"에는 당사의 게임에 대한 클라이언트 또는 서버 소프트웨어와 모든 플랫폼의
    Minecraft 및 Minecraft: Java Edition이 포함됩니다(이에 국한되지 않음). 또한 업데이트, 패치, 다운로드할 수 있는 콘텐츠, 애드온, 게임의 수정된 버전, 이러한 사항의 일부
    또는 그 밖에 당사가 만든 사항도 포함됩니다.<br><br>

    귀하가 만드는 사항에 대해 당사가 꽤 관대한 것과는 달리(사실 당사는 귀하가 멋진 사항을 수행하도록 권장하고 있음) 귀하에게 금지된 사항에 대해서는 수행하지 마십시오.<br><br>

    <b>당사의 게임 사용</b><br>
    귀하에게 게임에 대한 사용권이 부여되었으므로 장치에서 스스로 게임을 플레이하고 사용할 수 있습니다.<br><br>

    아래에서 당사는 기타 사항을 수행할 수 있는 제한된 권리도 제공합니다. 하지만 어딘가에서 또는 다른 사용자가 도를 넘으려고 하기 때문에 선을 그을 수 밖에 없습니다. 귀하가 당사가 만든 것과 관련된
    사항을 만들려고 하는 경우 해당 사항은 공식적인 것으로 해석될 수 없으며 본 EULA와 브랜드 및 자산 사용 지침을 준수해야 합니다. 특히 당사가 만든 것을 상업적으로 사용해서는 안 됩니다.<br><br>

    본 EULA의 조건을 위반하는 경우 당사의 게임을 사용하고 플레이하기 위해 당사가 귀하에 제공하는 사용권 및 권한이 철회될 수 있습니다.<br><br>

    당사의 게임을 구입하는 경우 본 EULA에 명시된 대로 귀하 소유의 개인용 기기에 게임을 설치하고 해당 기기에서 게임을 사용 및 플레이할 권한을 귀하에게 부여하는 사용권이 제공됩니다. 이 권한은
    개인적이므로 다른 사용자에게 게임(또는 게임의 일부)을 배포할 수 없습니다. 이는 게임을 판매하거나 대여 또는 다른 사용자가 액세스할 수 있도록 할 수도 없으며 사용권 키를 전달하거나 재판매할 수도
    없음을 의미합니다. 하지만 당사의 공식적인 선물 코드 시스템을 통해 구입한 선물 코드를 제공할 수 있습니다. 이는 저작권 침해 및 사기를 막고 당사의 게임을 보호하기 위해 중요합니다. 또한 당사의
    커뮤니티 회원이 저작권이 침해된 게임 버전이나 기망적 사용권 키를 구입하는 것을 방지하기 위해서도 중요합니다. 사기와 같은 경우 당사는 취소할 수 있습니다.<br><br>

    게임을 구입한 경우 게임을 플레이할 수 있으며 수정, 도구 또는 플러그인("모드"로 통칭)을 추가하여 게임을 수정할 수 있습니다. "모드"란 귀하 또는 다른 사용자가 만들었으며 당사의 저작권을 취득할
    수 있는 코드 또는 콘텐츠의 상당 부분이 포함되지 않은 원본을 의미합니다. 귀하의 모드를 Minecraft 소프트웨어와 조합하는 경우 해당 조합을 게임의 "모드된 버전"이라고 합니다. 모드를 구성하는
    것과 구성하지 않는 것에 대해 최종적으로 이야기하겠습니다. 게임 또는 소프트웨어의 모드된 버전을 배포할 수 없으며 그리핑을 위해 모드를 사용하지 않으면 감사하겠습니다. 기본적으로 모드는 배포할 수
    있지만 게임 클라이언트 또는 서버 소프트웨어의 해킹된 버전 또는 모드된 버전은 배포할 수 없습니다.<br><br>

    합리적인 범위 내에서 귀하는 게임의 스크린샷과 비디오를 사용하여 원하는 대로 자유롭게 수행할 수 있습니다. "합리적인 범위 내"란 본 EULA에서 특별히 가능하다고 명시되거나 브랜드 및 자산 사용
    지침을 통해 허용되거나 귀하와 체결한 특정 계약에서 허용되지 않은 한 귀하가 해당 사항을 상업적 용도로 사용할 수 없거나, 불공정하거나 당사의 권리에 부정적 영향을 미치는 사항을 수행할 수 없음을
    의미합니다. 비디오 공유 및 스트리밍 사이트에 게임의 비디오를 업로드하는 경우 귀하는 광고를 넣을 수 있습니다. 하지만 예술 작품을 복사하여 나누어 주지 마십시오. 그러한 행동은 재미있지
    않습니다.<br><br>

    필수적인 간단한 규칙은 당사가 특별히 괜찮다고 한 경우가 아니면 당사가 만든 사항을 상업적으로 사용하면 안 됩니다. "공정 사용" 또는 "공정 거래" 원칙에 따르는 등 법률에서 명시적으로 허용하는
    경우에도 가능합니다. 단, 귀하에게 적용되는 법률에서 허용하는 범위 내에서만 가능합니다.<br><br>

    게임의 무결성을 보장하기 위해 당사는 모든 게임 다운로드와 업데이트를 인증된 소스를 통해 제공합니다. 당사는 제3자 도구/서비스의 품질을 보장할 수 없으므로 제3자 도구/서비스가 "공식적"으로 보이지
    않도록 하는 것도 중요합니다. 이 사항은 Minecraft의 고객에 대한 당사의 책임 중 일부입니다. 당사의 브랜드 및 자산 사용 지침도 읽으십시오.<br><br>

    <b>당사의 게임 소유권 및 기타 사항</b><br>
    당사는 귀하에게 당사의 게임을 기기에 설치하고 플레이할 권한을 부여하지만 소유권은 여전히 당사가 보유합니다. 또한 게임에 포함된 브랜드 및 콘텐츠의 소유자이기도 합니다. 그러므로 당사의 게임에 대해
    지급하는 경우 귀하는 본 EULA에 따라 당사의 게임을 플레이/사용할 사용권을 구입하는 것이며 게임 그 자체를 구입하는 것은 아닙니다. 게임 및 게임 설치와 관련하여 귀하가 보유하는 유일한 권한은 본
    EULA에 설정된 권한입니다.<br><br>

    귀하가 처음부터 게임에 대해 만든 모드는 귀하에게 속하며(사전 실행 모드 및 메모리 내 모드 포함) 해당 모드를 사용하여 원하는 대로 수행할 수 있습니다. 단, 귀하가 돈을 위해 해당 모드를 팔지
    않거나 해당 모드로 돈을 벌려고 하지 않는 경우 및 게임의 모드된 버전을 배포하지 않는 경우에 한합니다. 모드란 귀하의 원저작물이며 코드 또는 콘텐츠의 상당 부분이 포함되지 않은 것을 의미합니다.
    귀하는 귀하가 만든 것만 소유하며 당사의 코드나 콘텐츠는 소유하지 않습니다.<br><br>

    <b>콘텐츠</b><br>
    게임에서 또는 게임을 통해 콘텐츠를 사용할 수 있도록 하는 경우 귀하는 해당 콘텐츠를 사용, 복사, 수정, 적용, 배포 및 공개적으로 표시할 권한을 당사에 제공하는 데 동의합니다. 이 권한은 취소할 수
    없으며, 당사가 다른 사용자에게 귀하의 콘텐츠를 사용, 복사, 수정, 적용, 배포 및 공개적으로 표시할 권한을 부여할 수 있다는 것에도 동의합니다. 해당 콘텐츠에 대한 소유권을 포기하는 것은 아니며
    당사 및 다른 사용자에게 사용 권한만 부여하는 것입니다. 예를 들어 귀하가 웹 사이트에 게시한 콘텐츠를 다른 사용자가 읽을 수 있도록 복사, 재포맷 및 배포해야 할 수 있습니다. 이러한 권한 부여를
    원하지 않는 경우 게임에서 또는 게임을 통해 콘텐츠를 사용할 수 있도록 하지 마십시오. 해당 콘텐츠가 공개적으로 되며 원하지 않는 방식으로 다른 사용자가 사용할 수도 있으므로 콘텐츠를 사용할 수 있도록
    하기 전에 주의 깊게 생각하십시오.<br><br>

    귀하가 당사의 게임에서 또는 당사의 게임을 통해 어떤 사항을 사용할 수 있도록 하려는 경우 해당 사항은 다른 사용자에게 모욕적이거나 불법적이어서는 안 되며, 정직해야 하며, 귀하가 스스로 작성한
    것이어야 합니다. 당사의 게임을 사용하여 사용할 수 있도록 하는 유형에 대한 일부 예는 다음과 같습니다. 인종 차별적 또는 동성애적 언어가 포함된 게시물, 집단 따돌림이 있거나 트롤링하는 게시물,
    모욕적이거나 당사 또는 다른 사용자의 평판에 손해를 끼치는 게시물, 포르노 또는 다른 사용자의 생성물이나 이미지가 포함된 게시물 또는 중재자를 사칭하거나 다른 사용자를 속이거나 착취하는 게시물<br><br>

    당사의 게임에서 사용할 수 있도록 하는 콘텐츠도 귀하의 생성물이어야 하며 귀하에게 이를 수행할 권한 또는 법적 권리가 있어야 합니다. 게임을 통해 다른 사용자의 권리를 침해하는 콘텐츠를 사용할 수
    있도록 하지 않아야 하며, 이렇게 하지 않을 것에 동의합니다.<br><br>

    당사는 자체 판단에 따라 모든 콘텐츠를 내릴 권리가 있습니다.<br><br>

    **당사의 게임에서 다른 사용자와 이야기할 경우 주의하십시오. 다른 사용자가 말하는 것이 사실인지 또는 다른 사용자가 본인이 맞는지 귀하나 당사가 확실히 아는 것은 어렵습니다. 귀하는 자신의 정보를
    제공함에 대해 두 번 생각해야 합니다.<br><br>

    <b>업데이트</b><br>
    경우에 따라 업그레이드, 업데이트 또는 패치(모두 "업데이트"라고 명명함)를 수행할 수 있지만 그렇게 할 필요는 없습니다. 지속적으로 게임에 대한 지원 또는 유지 보수를 제공할 의무도 없습니다. 물론
    게임에 대한 새 업데이트를 계속 배포하기를 원하지만 단지 이를 보장할 수 없다는 것입니다. 업데이트되면 변경 사항이 모드와 같은 다른 소프트웨어에서 잘 작동하지 않을 수 있습니다. 유감스럽지만 이에
    대해서도 당사는 책임을 지지 않습니다. 잘 작동하지 않는 경우 이전 버전을 실행하십시오.<br><br>

    <b>책임 및 준거법</b><br>
    본 EULA의 조건은 게임에 대해 귀하에게 적용되는 법에 따라 귀하가 보유할 수 있는 법적(성문법) 권리에 영향을 주지 않습니다. 귀하에게 적용되는 법에서 배제될 수 없다고 표시된 특정 권리를 보유할
    수 있습니다. 본 조건에 명시된 어떤 사항도 이러한 법적 권리에 영향을 주지 않습니다. 이는 귀하의 법적 권리와 모순된 것과 같이 들릴 수 있습니다. "관련 법률에 의거"라고 말하는 경우에는 이것을
    의미하는 것입니다.<br><br>

    관련 법률에 의거하여 귀하에게 당사의 게임 복사본을 제공할 때 "있는 그대로" 제공합니다. 업데이트도 "있는 그대로" 제공됩니다. 이는 당사가 게임의 표준이나 품질 또는 게임이 작동 중단되지 않거나
    오류가 없음에 대해 약속하지 않음을 의미합니다. 게임으로 인해 발생할 수 있는 손실이나 손해에 대해 당사는 책임을 지지 않습니다. 해당 품질 및 성능에 대한 모든 위험은 귀하의 책임입니다. 귀하는
    당사가 게임이 완벽하게 되기 전에 배포할 수 있으며 이로 인해 게임에 버그가 있을 수 있음(종종 발생함)에 동의해야 합니다. 당사는 완벽하게 되기를 기다리도록 하기 전에 이러한 기능을 배포하기를
    원합니다. 잠재적인 버그에 대해 당사에 통지하려는 경우 여기에 사이트를 마련했습니다.<br><br>

    **국제사법 원칙에 관계없이 본 EULA의 해석 및 위반으로 인한 청구에는 워싱턴 주의 법률이 적용됩니다. 국제사법 원칙에 관계없이 기타 모든 청구와 분쟁(소비자 보호, 불공정거래 및 불법 행위와
    당사의 게임이나 웹 사이트와 관련된 분쟁 포함)에는 귀하가 거주하고 있는 국가의 법이 적용됩니다.<br><br>

    <b>해지</b><br>
    귀하가 조건을 위반하는 경우 당사는 원하는 대로 본 EULA를 해지할 수 있습니다. 귀하도 언제든지 이를 해지할 수 있습니다. 기기에서 게임을 제거하기만 하면 EULA가 해지됩니다. EULA가 해지되면
    귀하는 본 사용권에서 제공된 게임에 대한 권리를 더 이상 보유하지 않게 됩니다. 물론 게임을 통해 스스로 만든 사항에 대한 권리는 여전히 보유합니다. "게임의 소유권", "당사의 책임" 및 "일반
    항목"에 대한 단락은 EULA가 해지된 후에도 계속 적용됩니다.<br><br>

    <b>일반 항목</b><br>
    귀하가 거주하는 지역의 법률에서 본 EULA가 변경할 수 없는 권리를 제공할 수 있습니다. 이러한 경우 해당 법률이 허용하는 한 본 EULA가 적용됩니다. 본 사용권의 어떤 사항도 당사의 과실 또는
    기망적 허위진술로 인한 사망이나 신체적 부상에 대한 당사의 책임을 제한하지 않습니다.<br><br>

    당사의 게임, 관례 또는 법적 의무가 변경되는 등 사유가 있는 경우 때때로 본 EULA를 변경할 수 있습니다. 하지만 해당 변경 사항은 법적으로 적용될 수 있는 범위에서만 효력이 발생합니다. 예를 들어
    싱글 플레이어 모드에서만 게임을 사용하고 당사가 제공하는 업데이트를 사용하지 않는 경우에는 기존 EULA가 적용됩니다. 하지만 업데이트를 사용하거나 당사가 제공하는 지속적인 온라인 서비스에 의존하는
    게임의 일부를 사용하는 경우에는 새 EULA가 적용됩니다. 이러한 경우 효력이 발생하기 전에 당사는 웹 사이트에 통지를 게시하거나 기타 합리적인 방법으로 귀하에게 변경 사항을 알립니다. 당사는 이에
    대해 불공정하게 되지 않지만 경우에 따라 법률이 변경되거나 어떤 사용자가 게임의 다른 사용자에게 영향을 미치는 작업을 수행하므로 이를 비밀로 해야 합니다.<br><br>

    웹 사이트나 게임에 대한 제안을 제공하는 경우 해당 제안은 무료로 수행되며, 당사는 제안을 수락하거나 고려할 의무가 없습니다. 즉, 당사가 원하는 방식으로 제안을 사용하거나 사용하지 않을 수 있으며
    제안에 대해 지급할 필요가 없습니다. 당사가 지급할 만한 제안이 있다고 판단하는 경우, 먼저 지급을 원한다고 당사에 말하고 당사가 제안을 제출하도록 요구하는 것을 서면으로 응답할 때까지 제안을 제출하지
    마십시오.<br><br><br><br>
</div>