<br>
<h1> 서비스 문의 </h1>
<hr>
저희 서버를 이용해주셔서 감사합니다. <br>
귀하의 소중한 의견 참고하여 더 좋은 서버를 제공해드리겠습니다.
<br><br>
<div class="container-fluid">
    <form>
        <div class="alert alert-danger fade" role="alert"> </div>
        <div class="row">
            <div class="form-group col-sm">
                <label for="name_input">성함 <font color="red">*</font></label>
                <input type="text" class="form-control mr-4" id="name_input" placeholder="Name" aria-label="Name"
                    aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm">
                <label for="email_input">이메일 <font color="red">*</font></label>
                <input type="text" class="form-control" id="email_input" placeholder="000@example.com"
                    aria-label="Email" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label for="telp_input">전화번호</label>
                <input type="text" class="form-control mr-4" id="telp_input" placeholder="000-0000-0000"
                    aria-label="Telep" aria-describedby="basic-addon3">
            </div>
            <div class="form-group col-sm">
                <label for="homep_input">홈페이지</label>
                <input type="text" class="form-control" id="homep_input" placeholder="http://" aria-label="Homepage"
                    aria-describedby="basic-addon4">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label for="classification">분류 <font color="red">*</font></label>
                <select id="classification" class="custom-select">
                    <option selected>선택</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group col-sm">
                <label for="Route">알게 된 경로 <font color="red">*</font></label>
                <select id="Route" class="custom-select">
                    <option selected>선택</option>
                    <option value="1">인터넷 검색</option>
                    <option value="2">지인 추천</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="question_input">내용 <font color="red">*</font></label>
            <textarea class="form-control" id="question_input" aria-label="question"></textarea>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="agree">
                <label class="custom-control-label" for="agree"><b>개인정보 수집 및 이용 동의</b></label>
            </div>
            <div class="p-2" style="border: 1px solid #ced4da;">
                - 처리 목적 : 온라인 문의 결과 통보<br>
                - 처리(수집) 항목 : 성명, Email, 연락처, 홈페이지<br>
                - 보유 기간 : 목적 달성 시까지<br>
                상기의 개인정보 수집 및 이용을 거부하실 수 있으나 거부하시는 경우 서비스 이용이 불가합니다.<br><br>

                We are the sole owners of the information collected on this site. We only have access to/collect
                information that you voluntarily give us via email or other direct contact from you. We will not
                sell or rent this information to anyone.
            </div>
        </div>
        <div class="d-flex justify-content-end"> <button id="submitBtn" type="button" class="btn btn-primary">보내기</button>
        </div>
    </form>
</div>
<br><br>

<script>
    function show_alert(str) {
        $(".alert").text(str);
        $('.alert').addClass('show')
        setTimeout(function () { $('.alert').removeClass('show') }, 2000);
    }
    $("#submitBtn").click(function() {
        if( $("#name_input").val() == "" ) {
            show_alert("이름을 입력해주세요");
            return false;
        } if( $("#email_input").val() == "" ) {
            show_alert("이메일을 입력해주세요");
            return false;
        } if( $("#classification").val() == "선택" ) {
            show_alert("분류를 선택해주세요");
            return false;
        } if( $("#Route").val() == "선택" ) {
            show_alert("경로를 선택해주세요");
            return false;
        } if( $("#agree").is(":checked") != true ) {
            show_alert("개인정보 수집 및 이용 동의에 체크해주세요");
            return false;
        }
    });
    
</script>