<br>
<span>
    <span style='font-size: small;'> 
        {% if type == 'Notice' %}
        - 공지사항
        {% else %}
        - 게시판
        {% endif %} 
    </span>
    <h1 id='title'> {{ view.Title }} </h1>
    <span id='name'><b>{{ view.Name }}</b></span> / <span id='date'>{{ view.Date }}</span> / View : <span
        id='view'><b>{{ view.View }}</b></span>
</span>
<hr>
<div id='contents'>{{ view.Contents }}</div>

<div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-danger" id='delete'>삭제</button>&nbsp;
    <button type="button" class="btn btn-outline-primary" id='fix'>수정</button>
</div>

<br><br><br>